# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/

# Local Models
Models/
*.gguf

# Temporary
tmp/
cache/

# SQLite
*.db